.NavigationItem {
  @media only screen and (max-width: 913px) {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid var(--c-background);
    }
  }

  a {
    color: var(--c-2);
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 1rem;
    // width: 100%;

    &:hover {
      color: var(--c-active);
    }

    @media only screen and (min-width: 914px) {
      position: relative;
      transition: all 0.5s;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.5s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.5s;
      }

      &:hover::before {
        border: 3px solid var(--c-background);
        // border: 3px solid var(--c-active);
        transform: rotate(-7deg);
      }
      &:hover::after {
        border: 3px solid var(--c-background);
        // border: 3px solid var(--c-active);

        transform: rotate(7deg);
      }

      &.active {
        color: var(--c-active);

        &::before {
          border: 3px solid var(--c-background);
          // border: 3px solid var(--c-active);
        }

        &::after {
          border: 3px solid var(--c-background);
          // border: 3px solid var(--c-active);
        }

        &::before {
          transform: rotate(0);
        }
        &::after {
          transform: rotate(0);
        }
      }
    }
  }
}
