.Projects {
  & > div:not(:last-child) {
    margin-bottom: 2rem;
  }


  & > div {

    & > h3 {
      margin-bottom : 1rem;


    }
    
    & > ul {
      // padding: 1rem;
      list-style-type: none;

      & > li {
        display: block;
        height: 100%;
      }
    }

    & > ul {
      & > .LiWithLink {
        display: flex;
        align-items: flex-start;

        & > a {
          //   overflow-wrap: break-word;
          //   word-wrap: break-word;
          //   word-break: break-all;
          /* Instead use this non-standard one: */
          word-break: break-word;

          //   min-width: 0;
          &:hover,
          &:link,
          &:active,
          &:visited {
            color: var(--c-active);
          }
        }
      }
    }
  }

  & > .DivWith1Thumb {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    // grid-gap: 1rem;
    //  justify-items: center;

    & > h3 {
      grid-column: 1 / -1;
    }

    & > a {
      justify-self: center;
    }
  }

  & > .DivWith3Thumbs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-gap: 1rem;
    // justify-items: center;

    & > h3 {
      grid-column: 1 / -1;
    }

    & > a {
      justify-self: start;
    }
    
    & > ul {
      grid-column:  1 / -1;
      // justify-self: center;
    }
  }
}
