.ProgressDiv {
  background-color: var(--c-background);
  border-radius: 5px;
  // margin-left: auto;

  // flex-shrink: 0;
  // width: 12rem;
  //   min-height: 1.6rem;
  margin-top: 7px;

  // @media only screen and (max-width: 913px) {
  //   margin-right: 100px;
  // }
  // @media only screen and (max-width: 845px) {
  //   margin-right: 75px;
  // }
  // @media only screen and (max-width: 800px) {
  //   margin-right: 50px;
  // }
  // @media only screen and (max-width: 750px) {
  //   margin-right: 25px;
  // }
  // @media only screen and (max-width: 700px) {
  //   margin-right: 0px;
  // }
}

.Progress {
  background-color: var(--c-active);
  border-radius: 5px;
  //   min-width: 12rem;
  min-height: 1.6rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

///// second progress bar

// .ProgressBar {
//   min-width: 12rem;
//   min-height: 1.6rem;
//   margin-left: auto;
//   flex-shrink: 0;
// }

////// first progress bar

// progress {
//   border: 0;
//   min-width: 12rem;
//   min-height: 1.6rem;
//   margin-left: auto;
//   flex-shrink: 0;

//   &::-webkit-progress-bar {
//     /* style rules */
//     border-radius: 0.5rem;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
//     background-color: var(--c-background);
//   }
//   &::-webkit-progress-value {
//     /* style rules */
//     background-color: var(--c-active);
//     border-radius: 0.5rem;
//   }
//   &::-moz-progress-bar {
//     border-radius: 2px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
//     background-color: var(--c-background);
//   }
// }
