.ToolbarToggle {
  display: none;

  @media only screen and (max-width: 913px) {
    display: flex;
  }

  cursor: pointer;

  width: min-content;

  align-items: center;

  color: var(--c-2);
  border: 0.2rem solid var(--c-background);
  border-radius: 1rem;
  //   background-color: var(--c-2);

  &:hover,
  &.active {
    color: var(--c-active);
    border: 0.2rem solid var(--c-active);
    // background-color: var(--c-active);
    .Icon {
      div {
        background-color: var(--c-active);
      }
    }
  }

  .Icon {
    margin-left: 1rem;
    width: 4rem;
    height: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;

    div {
      width: 90%;
      height: 0.3rem;
      background-color: var(--c-2);
    }
  }

  .Menu {
    // color: var(--c-2);
    color: inherit;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 1rem;
    font-size: 2rem;
  }
}
