.Layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(8, minmax(min-content, 15rem)) repeat(2, 1fr);
  background-color: var(--c-background);
  height: 100rem;

  .Frame {
    grid-column: 3 / 11;
    display: grid;
    // grid-template-columns: repeat(2, 1fr) repeat(8, minmax(min-content, 11.5rem)) repeat(2, 1fr);
    grid-template-columns: 2rem 1fr repeat(8, minmax(min-content, 11.5rem)) 1fr 2rem;
    // grid-template-columns: repeat(12, minmax(min-content, 11.5rem));
    align-content: start;
    grid-gap: 1rem;
    justify-items: center;

    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    position: relative;
  }
}
