// .NavigationItems {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   display: flex;
//   flex-flow: column;

//   align-items: center;
//   height: 100%;

//   @media only screen and (min-width: 500px) {
//     flex-flow: row;
//   }
// }

.NavigationItems {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;

  // flex-shrink: 0;
  flex-wrap: wrap;

  text-transform: uppercase;
  padding: 2.5rem;
}
