.NavigationItems {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  // flex-shrink: 0;

  text-transform: uppercase;
  padding: 2.5rem;

  @media only screen and (max-width: 913px) {
    display: none;
    // padding: 0 0 10rem 0;
    padding: 1rem 0;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;

    &.active {
      display: initial;
    }
  }
}
