.Experiences {
  & > ul {
    list-style: none;
    // list-style-position: inside;

    & > li {
      position: relative;
      padding: 1rem 0;
      padding-right: 1rem;
      display: flex;
      //   flex-wrap:wrap;

      &:before {
        content: "\25CF";
        color: var(--c-active);
        // margin-right: 10px;
        // font-size: 20px;
        margin-right: 1.5rem;
        font-size: 2rem;
      }

      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        border-left: 2px solid var(--c-active);
        // margin-left: 5px;
        margin-left: 0.5rem;
        height: 100%;
      }

      &:first-of-type:after {
        top: 2.5rem;
        // top: 50%;
      }

      &:last-of-type:after {
        top: -50%;
        height: 90%;
        @media only screen and (max-width: 651px) {
          height: 82%;
        }
        @media only screen and (max-width: 474px) {
          height: 75%;
        }
        @media only screen and (max-width: 372px) {
          height: 70%;
        }
        @media only screen and (max-width: 290px) {
          height: 65%;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        & > span {
          &:first-of-type {
            font-weight: bold;
            font-size: 1.8rem;
            // margin-left: 2rem;
          }
          &:last-of-type {
            font-style: italic;
          }
        }
      }
    }
  }
}
