.App {
  text-align: center;
}

.Red {
  color: red;
}

.Bold {
  font-weight: bold;
}

.Btn {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Btn:hover {
  background-color: lightgreen;
  color: black;
}

.Btn.Red {
  background-color: red;
}

.Btn.Red:hover {
  background-color: salmon;
}


